<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0.//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.notice.NoticeDAO">

	<resultMap type="com.spring.notice.BoardQnaVO" id="BoardQnaVO">
		<result property="qna_no" column="qna_no" />
		<result property="id" column="id" />
		<result property="qna_category" column="qna_category" />
		<result property="qna_title" column="qna_title" />
		<result property="qna_content" column="qna_content" />
		<result property="qna_date" column="qna_date" />
		<result property="qna_update_date" column="qna_update_date" />
		<result property="qna_answer" column="qna_answer" />
	</resultMap>
	
	<!-- hm | 1:1문의 답변 resultMap추가-->
	<resultMap type="com.spring.manage.MemberVO" id="MemberResultMap">
		<result property="id" column="id" />
		<result property="m_nickname" column="m_nickname" />
		<result property="m_image" column="m_image" />
		<result property="m_email" column="m_email" />
		<result property="m_eagree" column="m_eagree" />
		<result property="m_sagree" column="m_sagree" />
		<result property="m_name" column="m_name" />
		<result property="m_phone" column="m_phone" />
		<result property="m_cert" column="m_cert" />
		<result property="m_password" column="m_password" />
		<result property="m_regdate" column="m_regdate" />
		<result property="m_update_date" column="m_update_date" />
		<result property="m_deleteyn" column="m_deleteyn" />
		<result property="m_following" column="m_following" />
		<result property="m_follower" column="m_follower" />
		<result property="m_level" column="m_level" />
		<result property="m_favorite" column="m_favorite" />
		<result property="m_blacklist" column="m_blacklist" />
		<result property="m_authkey" column="m_authkey" />
	</resultMap>

	<resultMap type="com.spring.notice.AdQnaVO" id="AdQnaVO">
		<result property="aqna_no" column="aqna_no" />
		<result property="qna_no" column="qna_no" />
		<result property="aqna_content" column="aqna_content" />
		<result property="aqna_date" column="aqna_date" />
		<result property="aqna_update_date" column="aqna_update_date" />
		<result property="admin_num" column="admin_num" />
	</resultMap>


	<!-- hm | 1:1문의 답변 resultMap추가 -->
	<resultMap type="com.spring.notice.AdNoticeVO" id="AdNoticeVO">
		<result property="an_code" column="an_code" />
		<result property="admin_num" column="admin_num" />
		<result property="an_content" column="an_content" />
		<result property="an_title" column="an_title" />
		<result property="an_reg_date" column="an_reg_date" />
		<result property="an_update_date" column="an_update_date" />
	</resultMap>
	
	<!-- board_free 매퍼 -->
	<resultMap type="com.spring.board.BoardFreeVO"
		id="BoardFreeMap">
		<result property="bf_bno" column="bf_bno" />
		<result property="id" column="id" />
		<result property="bf_category" column="bf_category" />
		<result property="bf_title" column="bf_title" />
		<result property="bf_reg_date" column="bf_reg_date" />
		<result property="bf_update_date" column="bf_update_date" />
		<result property="bf_source" column="bf_source" />
		<result property="bf_content" column="bf_content" />
		<result property="bf_warn_counter" column="bf_warn_counter" />
		<result property="bf_view_counter" column="bf_view_counter" />
		<result property="bf_deleteyn" column="bf_deleteyn" />
		<result property="bf_recommend" column="bf_recommend" />
		<result property="bf_decommend" column="bf_decommend" />
	</resultMap>
	
	<!-- board_share 매퍼 -->
	<resultMap type="com.spring.board.BoardShareVO" id="BoardShareMap">
		<result property="bs_bno" column="bs_bno" />
		<result property="id" column="id" />
		<result property="bs_category" column="bs_category" />
		<result property="bs_content" column="bs_content" />
		<result property="bs_title" column="bs_title" />
		<result property="bs_reg_date" column="bs_reg_date" />
		<result property="bs_update_date" column="bs_update_date" />
		<result property="bs_view_counter" column="bs_view_counter" />
		<result property="bs_warn_counter" column="bs_warn_counter" />
		<result property="bs_deleteyn" column="bs_deleteyn" />
	</resultMap>
	
	<!-- board_mml 매퍼 -->
	<resultMap type="com.spring.board.Mml_ContentVO" id="MmlContentMap">
		<result property="mml_num" column="mml_num" />
		<result property="mi_code" column="mi_code" />
		<result property="id" column="id" />
		<result property="mml_view_count" column="mml_view_count" />
		<result property="mml_write_date" column="mml_write_date" />
		<result property="mml_update_date" column="mml_update_date" />
		<result property="mml_like" column="mml_like" />
		<result property="mml_title" column="mml_title" />
		<result property="mml_content" column="mml_content" />
		<result property="mml_poster" column="mml_poster" />
		<result property="mml_warn_count" column="mml_warn_count" />
	</resultMap>
	
	
	<select id="noticeList" resultMap="AdNoticeVO">
        <![CDATA[
        SELECT *  
        FROM ad_notice
        WHERE an_code > 0
        ORDER BY an_code DESC
        ]]>
	</select>

	<select id="qnaList" resultMap="BoardQnaVO">
        <![CDATA[
        SELECT *  
        FROM board_qna
        WHERE qna_no > 0
        ORDER BY qna_no DESC
        ]]>
	</select>

	<!-- notice write -->
	<select id="getAdminName" parameterType="int" resultType="String">
		select admin_name from ad_member where
		admin_num=#{admin_num}
	</select>

	<!-- insert : insertNotice -->
	<insert id="insertNotice" parameterType="com.spring.notice.AdNoticeVO">
		INSERT INTO ad_notice VALUES (seq_ad_notice_no.nextval,
		#{admin_num}, #{an_content, jdbcType=VARCHAR}, #{an_title,
		jdbcType=VARCHAR},
		sysdate, sysdate)
	</insert>
	<!-- detail 가져오기 -->
	<select id="noticeDetail" parameterType="int" resultType="com.spring.notice.AdNoticeVO">
		select * from ad_notice where an_code=#{an_code}
	</select>

	<!-- delete ad_notice question -->
	<delete id="deleteNotice" parameterType="String">
		delete FROM ad_notice
		WHERE an_code = #{an_code}
	</delete>

	<!-- detail 질문 가져오기 -->
	<select id="boardQnaDetail" parameterType="int" resultType="com.spring.notice.BoardQnaVO">
		select * from board_qna where QNA_NO=#{qna_no}
	</select>

	<!-- detail 답변 가져오기 -->
	<select id="adQnaDetail" parameterType="int" resultType="com.spring.notice.AdQnaVO">
		select * from ad_qna where QNA_NO=#{qna_no}
	</select>
	
	<!-- qna 답변 달기 -->
	<insert id="insertAnswer" parameterType="com.spring.notice.AdQnaVO">
		insert into ad_qna 
		values(seq_ad_qna_no.nextval, #{qna_no}, #{aqna_content}, sysdate, sysdate, null)
	</insert>
	
	<update id="updateBoardQna" parameterType="com.spring.notice.AdQnaVO">
		update board_qna set qna_answer='Y' where qna_no= #{qna_no}
	</update>
	
	<update id="updateAnswer" parameterType="com.spring.notice.AdQnaVO">
		update ad_qna set aqna_content=#{aqna_content}, aqna_update_date= sysdate 
		where aqna_no=#{aqna_no}
	</update>





	<!-- index -->
	
	<!-- index | 회원수 today 카운트 -->
	<select id="dailyMemberCount" resultType="int">
	 <![CDATA[
		SELECT COUNT(id) FROM member WHERE id > 0 and to_char(m_regdate, 'YYYYMMDD')=to_char(sysdate, 'YYYYMMDD')
	 ]]>
	</select>
	
	<!-- index | 자유게시판 글 등록수 today 카운트 -->
	<select id="dailyFBoardCount" resultType="int">
	 <![CDATA[
		SELECT COUNT(bf_bno) FROM board_free WHERE bf_bno > 0 and to_char(bf_reg_date, 'YYYYMMDD')=to_char(sysdate, 'YYYYMMDD')
	 ]]>
	</select>
	
	<!-- index | 나눔게시판 글 등록수 today 카운트 -->
	<select id="dailySBoardCount" resultType="int">
	<![CDATA[
		SELECT count(BS_BNO) FROM board_share WHERE bs_bno > 0 and to_char(bs_reg_date, 'YYYYMMDD')=to_char(sysdate, 'YYYYMMDD')
	]]>
	</select>

	<!-- index | 나영리 글 등록수 today 카운트 -->
	<select id="dailyMBoardCount" resultType="int">
	<![CDATA[
		SELECT count(mml_num) FROM mml_content WHERE mml_num > 0 and to_char(mml_write_date, 'YYYYMMDD')=to_char(sysdate, 'YYYYMMDD')
	]]>
	</select>
	
	<!-- index | 모든 게시판 글 today 등록수 -->
	<select id="dailyABoardCount" resultType="int">
	<![CDATA[
	SELECT 
		COUNT(*)
		FROM(
			SELECT BF_BNO FROM BOARD_FREE WHERE BF_BNO > 0 AND TO_CHAR(BF_REG_DATE, 'YYYYMMDD')=TO_CHAR(SYSDATE, 'YYYYMMDD')
		UNION ALL
			SELECT BS_BNO FROM board_share WHERE bs_bno > 0 and to_char(bs_reg_date, 'YYYYMMDD')=to_char(sysdate, 'YYYYMMDD')
		UNION ALL
			SELECT MML_NUM FROM mml_content WHERE mml_num > 0 and to_char(mml_write_date, 'YYYYMMDD')=to_char(sysdate, 'YYYYMMDD')
		)
	]]>
	</select>
	
	<!-- index 회원수 전체 -->
	<select id="allMemberCount" resultType="int">
	 <![CDATA[
		SELECT COUNT(id) FROM member WHERE id > 0
	 ]]>
	</select>
	
	<!-- index끝 -->
	
	<!-- 아니 리스트를 뿌려줘야한다!~~~ -->
	<!-- json으로 뿌려줘야할까? -->
	
	<!-- index | 자유게시판 일별 게시글수 -->
	<select id="FBoardCountList" resultType="com.spring.board.BoardFreeVO">
    <![CDATA[
	select
	    TO_CHAR(BF_REG_DATE, 'YYYYMMDD') as regdate,
	    count(*) as count
	from 
	    board_free
	where
	    BF_REG_DATE >='20180101' and BF_REG_DATE < to_char(sysdate + 1,'YYYYMMDD')
	GROUP BY
	    to_char(BF_REG_DATE, 'YYYYMMDD')
	order by
		regdate desc
	 ]]>
	</select>
	
	<!-- index | 나눔게시판 일별 게시글수 -->
	<select id="SBoardCountList" resultType="com.spring.board.BoardShareVO">
    <![CDATA[
	select
	    TO_CHAR(BS_REG_DATE, 'YYYYMMDD') as regdate,
	    count(*) as count
	from 
	    board_share
	where
	    BS_REG_DATE >='20180101' and BS_REG_DATE < to_char(sysdate + 1,'YYYYMMDD')
	GROUP BY
	    to_char(BS_REG_DATE, 'YYYYMMDD')
	order by
		regdate desc
	 ]]>
	</select>
	
	<!-- index | 나영리게시판 일별 게시글수 -->
	<select id="MBoardCountList" resultType="com.spring.board.Mml_ContentVO">
    <![CDATA[
	select
	    TO_CHAR(MML_WRITE_DATE, 'YYYYMMDD') as regdate,
	    count(*) as count
	from 
	    mml_content
	where
	    MML_WRITE_DATE >='20180101' and MML_WRITE_DATE < to_char(sysdate + 1,'YYYYMMDD')
	GROUP BY
	    to_char(MML_WRITE_DATE, 'YYYYMMDD')
	order by
		regdate desc
	 ]]>
	</select>
		
	
	

</mapper>
